{% extends "layout.html" %}

{% block title %}Etsi viite{% endblock %}

{% block header %}Etsi viite{% endblock %}

{% block messages %}{{ super () }}{% endblock %}

{% block body %}

    <form action="/sources/find_source" method="get">
        <p>
            <label for="query">Hae viitteitä:</label><br><br>
            <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Hae">
    </form><br>

    <a href="/">Palaa etusivulle</a>

    {% if query %}
    <h2>Hakutulokset</h2>

        {% if sources %}
            {% for source in sources %}
                <div class="source-card">
                    <h3>{{ source.title }}</h3>
                    <p><strong>Kirjoittaja(t):</strong> {{ source.author }}</p>
                    <p><strong>Lähteen tyyppi:</strong> {{ source.ref_type }}</p>
                    <p><strong>Vuosi:</strong> {{ source.year }}</p>
                    {% if source.journal or source.publisher %}
                    <p><strong>Julkaisu / Kustantaja:</strong> 
                        {{ source.journal if source.journal else source.publisher }}</p>
                    {% endif %}
                    
                    <br>
                    <h3>BibTeX koodi:</h3>
                    <div class="code-box">
                        <p>@{{ source.ref_type }} { {{ source.key }},<br>
                            &nbsp;     author = { {{ source.author }} },<br>
                            &nbsp;     year = { {{ source.year }} },<br>
                            &nbsp;     title = { {{ source.title }} }
                            {% if source.journal %}
                                ,<br>
                                &nbsp;     journal = { {{ source.journal }} }
                            {% endif %}
                            {% if source.publisher %}
                                ,<br>
                                &nbsp;     publisher = { {{ source.publisher }} }
                            {% endif %}
                            <br>
                        }
                        </p>
                    </div>

                <div class="buttons">
                    <button class="edit-btn"><a href="{{ url_for('edit_source', source_key=source.key) }}">Edit</a></button>
                    <form action="{{ url_for('delete_source', source_key=source.key) }}" method="post" style="display:inline">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Ei tuloksia hakusanalla: {{ query }}</p>
        {% endif %}

    {% endif %}
{% endblock %}