{% extends "source_pages/base.html" %}

{% block messages %}{{ super () }}{% endblock %}

{% block body %}

{% block options %}
{{ super() }}
    <a class="misc-button" href="/">Palaa etusivulle</a>
{% endblock %}
    <div class="forms"><h2>Hakutulokset</h2></div>
    
    {% if sources %}
      {% block source_cards %}{{ super () }}{% endblock %}
    {% else %}
        <p>Ei tuloksia {% if query %} hakusanalla: "{{ query }}" {% endif %} {% if query and ref_type %} ja {% endif %} {% if ref_type %} tyypillä: "{{ ref_type }}" {% endif %} </p>
    {% endif %}
        
{% endblock %}